:root {
  --color-background: #fafafa;
  --color-primary: #121212;
  --color-secondary: #22272a;
  --color-border: #282a30;
  --color-active: #05fa1a;

  --font-title: bold 32px / 40px "Consolas";
  --font-paragraph: 16px / 24px "Consolas";
  --font-nav: 18px / 18px "Consolas";
  --font-footer: 12px / 20px "Consolas";
  --font-subheading: 20px / 28px "Consolas";
  --font-post-header: 32px / 40px "Consolas";
}

.dark {
  --color-background: #111215;
  --color-primary: #f5f5f7;
  --color-secondary: #a1a1aa;
}

@font-face {
  font-family: "Consolas";
  src: url("/fonts/consolas.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 64px 0;
  text-align: left;
  display: flex;
  justify-content: center;
  font: var(--font-paragraph), sans-serif;
  background: var(--color-background);
  color: var(--color-secondary);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
