---
import BaseLayout from "../layouts/BaseLayout.astro";
import Contacts from "../components/Contacts.astro";
import Skills from "../components/Skills.astro";
import RecentPosts from "../components/RecentPosts.astro";
import Info from "../components/Info.astro";
---

<BaseLayout>
  <div class="heading">
    <div class="title">
      <h1>
        <span class="secondary">&lt;</span>Bekir Shabutov <span
          class="secondary">/&gt;</span
        >
      </h1>
      <p>Software Engineer & Game Developer</p>
    </div>

    <p>
      Passionate software engineer specializing in web application and service
      development, UX/UI design, and DevOps. Also, I like making games.
    </p>
  </div>

  <Info />

  <Skills />

  <RecentPosts />

  <Contacts />
</BaseLayout>

<style>
  .heading {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .title {
    padding: 10px 0;
  }

  h1 {
    color: var(--color-primary);
    font: var(--font-title);
  }

  .secondary {
    color: var(--color-secondary);
  }
</style>
