---
import { Icon } from "astro-icon/components";
import BaseLayout from "../layouts/BaseLayout.astro";
import Contacts from "../components/Contacts.astro";
import Skills from "../components/Skills.astro";
import RecentPosts from "../components/RecentPosts.astro";
---

<BaseLayout>
  <div class="heading">
    <div class="title">
      <h1>
        <span class="secondary">&lt;</span>Bekir Shabutov <span
          class="secondary">/&gt;</span
        >
      </h1>
      <p>Software Engineer & Game Developer</p>
    </div>

    <p>
      Passionate software engineer specializing in web application and service
      development, UX/UI design, and DevOps. Also, I like making games.
    </p>
  </div>

  <div class="info">
    <div class="location">
      <Icon name="geomark" />
      <p>Antalya, Turkey</p>
    </div>
    <div class="availability">Available for work</div>
  </div>

  <Skills />

  <RecentPosts />

  <Contacts />
</BaseLayout>

<style>
  .heading {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .title {
    padding: 10px 0;
  }

  h1 {
    color: var(--color-primary);
    font: var(--font-title);
  }

  .secondary {
    color: var(--color-secondary);
  }

  .info {
    display: flex;
    gap: 64px;
  }

  .location {
    display: flex;
    align-items: center;
    padding: 0 2px;
    gap: 8px;
  }

  [data-icon="geomark"] {
    color: var(--color-secondary);
  }

  .availability::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--color-active);
  }

  .availability {
    display: flex;
    align-items: center;
    gap: 8px;
  }
</style>
