---
const today = new Date();
---

<footer>
  <div class="border-wrapper">
    &copy; Arillaxe {today.getFullYear()} ✨
    <div class="links">
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/about">About</a>
    </div>
  </div>
</footer>

<style>
  footer {
    padding-top: 96px;
    font: var(--font-footer);
  }

  .border-wrapper {
    padding-top: 16px;
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
  }

  .links {
    display: flex;
    gap: 16px;
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-secondary);
  }

  a:hover {
    color: var(--color-primary);
  }
</style>
