---
import HeaderLink from "./HeaderLink.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
  <nav>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
  <ThemeToggle />
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    padding: 14px 0 114px;
  }

  nav {
    display: flex;
    align-items: center;
  }

  .internal-links {
    display: flex;
    gap: 24px;
  }

  @media only screen and (max-width: 470px) {
    header {
      /* padding-bottom: 14px; */
    }
  }
</style>
