---
import FormattedDate from "./FormattedDate.astro";

const allPosts = await Astro.glob("../pages/blog/*.md");
const recentPosts = allPosts
  .sort((a, b) => a.frontmatter.pubDate - b.frontmatter.pubDate)
  .reverse()
  .slice(-5);
---

<div class="recent-posts">
  <h2>Recent posts</h2>
  <div class="posts">
    {
      recentPosts.map((post) => (
        <div class="post">
          <a href={post.url}>{post.frontmatter.title}</a>
          <FormattedDate date={new Date(post.frontmatter.pubDate)} />
        </div>
      ))
    }
  </div>
</div>

<style>
  .recent-posts {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  h2 {
    font: var(--font-subheading);
    color: var(--color-primary);
  }

  .posts {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .post {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 6px;
  }

  a {
    font: var(--font-paragraph);
    text-decoration: underline;
    color: var(--color-secondary);
  }

  a:hover {
    color: var(--color-primary);
  }
</style>
