---
import { SKILLS } from "../consts";
import { Icon } from "astro-icon/components";
---

<div class="skills">
  <h2>Skills</h2>
  <div class="groups">
    {
      SKILLS.map((skillGroup) => (
        <div class="group">
          <>
            <h3>{skillGroup.title}</h3>
            <ul>
              {skillGroup.skills.map((skill) => (
                <li>
                  <Icon name={skill.icon} />
                  {skill.label}
                </li>
              ))}
            </ul>
          </>
        </div>
      ))
    }
  </div>
</div>

<style>
  .skills {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 64px;
  }

  h2 {
    font: var(--font-subheading);
    color: var(--color-primary);
  }

  .groups {
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
  }

  .group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  h3 {
    font: var(--font-paragraph);
    color: var(--color-primary);
  }

  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  li {
    list-style: none;
    display: flex;
    gap: 12px;
    align-items: center;
  }

  [data-icon] {
    width: 24px;
    height: 24px;
    color: var(--color-secondary);
  }

  /* @media only screen and (max-width: 450px) {
    .groups {
      flex-direction: column;
    }
  } */
</style>
