---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .wrapper {
        max-width: 740px;
        padding: 0 32px;
      }

      main {
        gap: 16px;
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
